<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Proxy1" stopProcessing="true">  
                    <match url="^reports/(.*)" />  
                    <action type="Rewrite" url="https://insight.travelcounsellors.com/reports/{R:1}" />  
                </rule>
                <rule name="Proxy2" stopProcessing="true">  
                    <match url="^technet/(.*)" />  
                    <action type="Rewrite" url="https://blogs.technet.microsoft.com/{R:1}" />  
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
